USE [master]
GO

CREATE DATABASE [TBE]
GO

USE [TBE]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_NextID]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- @lastid là mã cuối cùng (fixwidth)
-- @prefix là tiền tố mã: vd HS0001 => HS
-- @size là số lượng ký tự trong mã HS0001 => 6
CREATE function [dbo].[fn_NextID] (@lastid varchar(10),@prefix varchar(10),@size int)
  returns varchar(10)
as
    BEGIN
        IF(@lastid = '')
            set @lastid = @prefix + REPLICATE (0,@size - LEN(@prefix))
        declare @num_nextid int, @nextid varchar(10)
        set @lastid = LTRIM(RTRIM(@lastid))
        -- number next id
        set @num_nextid = replace(@lastid,@prefix,'') + 1
        -- bo di so luong ky tu tien to
        set @size = @size - len(@prefix)
        -- replicate số lượng số 0 REPLICATE(0,3) => 000
        set @nextid = @prefix + REPLICATE (0,@size - LEN(@prefix))
        set @nextid = @prefix + RIGHT(REPLICATE(0, @size) + CONVERT (VARCHAR(MAX), @num_nextid), @size)
        return @nextid
    END;
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[MaAD] [char](4) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NgaySinh] [nvarchar](max) NULL,
	[GioiTinh] [bit] NULL,
	[CMND] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DT] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[UserName] [nvarchar](100) NULL,
	[PassWord] [nvarchar](100) NULL,
	[Manager] [nvarchar](100) NULL,
	[Bophan] [nvarchar](100) NULL,
	[Anh] [nvarchar](max) NULL,
	[Anhuser] [nvarchar](max) NULL,
	[Tenmanager] [nvarchar](100) NULL,
	[StatusPass] [nvarchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Macoment] [varchar](20) NOT NULL,
	[Mahoadon] [varchar](20) NULL,
	[Tennguoiduyet] [nvarchar](50) NULL,
	[Status] [nvarchar](100) NULL,
	[NDCHT] [nvarchar](max) NULL,
	[roles] [nvarchar](25) NULL,
	[dates] [nvarchar](200) NULL,
	[statusduyetcap] [nvarchar](25) NULL,
	[dateorder] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Macoment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiachiKho]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiachiKho](
	[Madt] [int] IDENTITY(1,1) NOT NULL,
	[Tenkho] [nvarchar](100) NULL,
	[Diachi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Madt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Duan]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duan](
	[Stt] [int] IDENTITY(1,1) NOT NULL,
	[MaDuAn] [nvarchar](20) NULL,
	[TenDuAn] [nvarchar](50) NULL,
	[DateStart] [nvarchar](200) NULL,
	[DateEnd] [nvarchar](200) NULL,
	[NguoiQuanLy] [nvarchar](100) NULL,
	[NguoiGiamSat] [nvarchar](100) NULL,
	[NguoiThucHien] [nvarchar](100) NULL,
	[TienDo] [nvarchar](200) NULL,
	[MoTa] [nvarchar](max) NULL,
	[Upload] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KiemKe]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiemKe](
	[Stt] [int] IDENTITY(1,1) NOT NULL,
	[Mahoadon] [nvarchar](20) NULL,
	[Tencongty] [nvarchar](100) NULL,
	[TenKho] [nvarchar](100) NULL,
	[Date] [nvarchar](100) NULL,
	[Soluong] [int] NULL,
	[Diachicongty] [nvarchar](200) NULL,
	[DiachiKho] [nvarchar](200) NULL,
	[Nguoikiemke] [nvarchar](200) NULL,
	[Lydokiem] [nvarchar](200) NULL,
	[MaSP] [nvarchar](20) NULL,
	[MaRFID] [nvarchar](50) NULL,
	[tensp] [nvarchar](200) NULL,
	[donvi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luanchuyen]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luanchuyen](
	[Stt] [int] IDENTITY(1,1) NOT NULL,
	[Mahoadon] [nvarchar](20) NULL,
	[Tieude] [nvarchar](200) NULL,
	[Tencongty] [nvarchar](200) NULL,
	[Diachicongty] [nvarchar](200) NULL,
	[Mucdich] [nvarchar](100) NULL,
	[Lydo] [nvarchar](100) NULL,
	[Date] [nvarchar](100) NULL,
	[Thoihan] [nvarchar](200) NULL,
	[Tenkhocu] [nvarchar](200) NULL,
	[DiachiKhocu] [nvarchar](200) NULL,
	[Nguoiquanly] [nvarchar](200) NULL,
	[Tenkhomoi] [nvarchar](200) NULL,
	[DiachiKhomoi] [nvarchar](200) NULL,
	[Soluong] [int] NULL,
	[MaSP] [nvarchar](20) NULL,
	[MaRFID] [nvarchar](50) NULL,
	[tensp] [nvarchar](200) NULL,
	[donvi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nguoivanchuyen]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoivanchuyen](
	[Mauser] [varchar](10) NOT NULL,
	[Tenuser] [nvarchar](25) NULL,
	[Roles] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Mauser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaSX] [nvarchar](4) NOT NULL,
	[TenSX] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DT] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuatkho]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuatkho](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[Madon] [varchar](20) NULL,
	[Req] [varchar](20) NULL,
	[Tieude] [nvarchar](100) NULL,
	[SoEvent] [varchar](20) NULL,
	[Subject] [nvarchar](100) NULL,
	[To] [nvarchar](100) NULL,
	[Cc] [nvarchar](100) NULL,
	[Date] [varchar](20) NULL,
	[Contactor] [nvarchar](100) NULL,
	[Mobile] [varchar](20) NULL,
	[Chuky] [nvarchar](100) NULL,
	[MaSP] [nvarchar](20) NULL,
	[MaRFID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phieuycvt]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phieuycvt](
	[Stt] [int] IDENTITY(1,1) NOT NULL,
	[Mahoadon] [nvarchar](20) NULL,
	[Nguoiyeucau] [nvarchar](100) NULL,
	[Congtrinhsudung] [nvarchar](200) NULL,
	[Date] [nvarchar](100) NULL,
	[Duan] [nvarchar](100) NULL,
	[Tenduyetbuoc1] [nvarchar](100) NULL,
	[StatusCHT] [nvarchar](100) NULL,
	[NDCHT] [nvarchar](max) NULL,
	[Tenduyetbuoc2] [nvarchar](100) NULL,
	[StatusPKH] [nvarchar](100) NULL,
	[NDPKH] [nvarchar](max) NULL,
	[Tenduyetbuoc3] [nvarchar](100) NULL,
	[StatusGD] [nvarchar](100) NULL,
	[NDGGD] [nvarchar](max) NULL,
	[StatusYcvt] [nvarchar](100) NULL,
	[Username] [nvarchar](50) NULL,
	[Congty] [nvarchar](100) NULL,
	[StatusRecall] [nvarchar](50) NULL,
	[StatusNYC] [nvarchar](50) NULL,
	[NDNYC] [nvarchar](max) NULL,
	[CKNYC] [nvarchar](200) NULL,
	[CKCHT] [nvarchar](200) NULL,
	[CKTP] [nvarchar](200) NULL,
	[CKGD] [nvarchar](200) NULL,
	[CKTK] [nvarchar](200) NULL,
	[Display] [nvarchar](100) NULL,
	[Linkurl] [nvarchar](max) NULL,
	[StatusRead] [nvarchar](50) NULL,
	[Duyet2len3] [nvarchar](50) NULL,
	[Duyet1len2] [nvarchar](50) NULL,
	[Manager] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamTBE]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamTBE](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [nvarchar](20) NULL,
	[MaSX] [nvarchar](50) NULL,
	[MaRFID] [nvarchar](50) NULL,
	[MaModel] [nvarchar](50) NULL,
	[TenSP] [nvarchar](200) NULL,
	[NgayNhap] [datetime] NULL,
	[SLTon] [int] NULL,
	[DonGia] [nvarchar](100) NULL,
	[QRcode] [nvarchar](max) NULL,
	[Diachi] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[trangthai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Userduyetdon]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Userduyetdon](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[Mauser] [nvarchar](20) NULL,
	[Tenuser] [nvarchar](200) NULL,
	[Roles] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vattuyeucau]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vattuyeucau](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[Mahoadon] [nvarchar](100) NULL,
	[Masp] [nvarchar](100) NULL,
	[Tensp] [nvarchar](200) NULL,
	[Hangsanxuat] [nvarchar](100) NULL,
	[Donvi] [nvarchar](100) NULL,
	[Soluong] [int] NULL,
	[Ghichu] [nvarchar](max) NULL,
	[Serial] [nvarchar](100) NULL,
	[Diachi] [nvarchar](max) NULL,
 CONSTRAINT [PK__vattuyeu__CA1EB690281AD0FF] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xuatkho]    Script Date: 8/19/2024 10:14:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xuatkho](
	[Stt] [int] IDENTITY(1,1) NOT NULL,
	[Mahoadon] [nvarchar](50) NULL,
	[Tencongty] [nvarchar](100) NULL,
	[Date] [nvarchar](100) NULL,
	[Soluongyeucau] [int] NULL,
	[Soluongthucxuat] [int] NULL,
	[Diachi] [nvarchar](200) NULL,
	[Congtrinhxuat] [nvarchar](200) NULL,
	[Noixuatkho] [nvarchar](200) NULL,
	[Lydoxuat] [nvarchar](max) NULL,
	[Sochungtu] [nvarchar](50) NULL,
	[MaSP] [nvarchar](50) NULL,
	[MaRFID] [nvarchar](50) NULL,
	[tensp] [nvarchar](200) NULL,
	[donvi] [nvarchar](50) NULL,
	[Nguoilapphieu] [nvarchar](100) NULL,
	[CKNguoilapphieu] [nvarchar](200) NULL,
	[Nguoigiaohanh] [nvarchar](100) NULL,
	[CkNguoiGiaohang] [nvarchar](200) NULL,
	[Nguoinhan] [nvarchar](100) NULL,
	[CKNguoinhan] [nvarchar](200) NULL,
	[Thukho] [nvarchar](100) NULL,
	[CkThukho] [nvarchar](200) NULL,
	[StatusPXK] [nvarchar](50) NULL,
	[Anhnhanhang] [nvarchar](max) NULL,
 CONSTRAINT [PK__Xuatkho__CA32087807CC92BF] PRIMARY KEY CLUSTERED 
(
	[Stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([MaAD], [HoTen], [NgaySinh], [GioiTinh], [CMND], [DiaChi], [DT], [Email], [UserName], [PassWord], [Manager], [Bophan], [Anh], [Anhuser], [Tenmanager], [StatusPass]) VALUES (N'AD01', N'admin', N'May 25 1991 12:00AM', 1, N'0123456789', N'12A Thống Nhất, P. Bình Thọ, TP. Thủ Đức, TP.HCM, Việt Nam', N'0907448806', N'test@songnam-ec.com', N'admin', N'123456', N'giamdoc', N'', N'../Data Image/30082022_041518_PM_456.jpg', N'../AnhUser/user.png', N'Admin', N'0')
INSERT [dbo].[Admin] ([MaAD], [HoTen], [NgaySinh], [GioiTinh], [CMND], [DiaChi], [DT], [Email], [UserName], [PassWord], [Manager], [Bophan], [Anh], [Anhuser], [Tenmanager], [StatusPass]) VALUES (N'Ad02', N'Lê Thành Nghĩa', N'May 25 1991 12:00AM', 1, N'079091022528', N'21/2B KP4, Thị trấn Hóc Môn, Huyện Hóc Môn, TP.HCM', N'0907448806', N'lethanhnghia1991@gmail.com', N'thanhnghia', N'123456', N'it', N'Văn Phòng', N'../Data Image/24072023_030628_PM_30092022_080111_AM_nghia.png', N'../AnhUser/27072023_024522_PM_21092022_032557_PM_1.jpg', N'IT', N'0')
INSERT [dbo].[Admin] ([MaAD], [HoTen], [NgaySinh], [GioiTinh], [CMND], [DiaChi], [DT], [Email], [UserName], [PassWord], [Manager], [Bophan], [Anh], [Anhuser], [Tenmanager], [StatusPass]) VALUES (N'Ad03', N'Nguyễn Thị Thu Hà', N'Nov 17 1992 12:00AM', 0, N'080192011044', N'12A Thống Nhất, Phường Bình Thọ, Thành phố Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam', N'0938864569', N'HaNguyen@metek.co', N'hakho', N'123456', N'kho', N'Văn Phòng', N'../Data Image/nyc.png', N'../AnhUser/21092022_032718_PM_2.jpg', N'Kế Toán Kho', N'0')
GO
INSERT [dbo].[Comment] ([Macoment], [Mahoadon], [Tennguoiduyet], [Status], [NDCHT], [roles], [dates], [statusduyetcap], [dateorder]) VALUES (N'Com7VC1Y', N'YCVT08082023-G9C25', N'Lê Thành Nghĩa', N'Chờ Xét Duyệt', N'cần gấp', N'CHT', N'09:56:14 Ngày 08-08-2023', N'2cap', N'08-08-2023T09:56:14')
INSERT [dbo].[Comment] ([Macoment], [Mahoadon], [Tennguoiduyet], [Status], [NDCHT], [roles], [dates], [statusduyetcap], [dateorder]) VALUES (N'ComI0P6F', N'YCVT08082023-G9C25', N'Phạm Thị Thu Hà', N'Đã duyệt', N'ok', N'TPDA', N'09:57:16 Ngày 08-08-2023', N'1cap', N'08-08-2023T09:57:16')
INSERT [dbo].[Comment] ([Macoment], [Mahoadon], [Tennguoiduyet], [Status], [NDCHT], [roles], [dates], [statusduyetcap], [dateorder]) VALUES (N'ComR69H2', N'YCVT08082023-G9C25', N'Phạm Xuân Quốc', N'Đã duyệt', N'ok', N'GD', N'09:57:34 Ngày 08-08-2023', N'0cap', N'08-08-2023T09:57:34')
GO
SET IDENTITY_INSERT [dbo].[DiachiKho] ON 

INSERT [dbo].[DiachiKho] ([Madt], [Tenkho], [Diachi]) VALUES (4, N'KHO Q9', N'Lô I-8-2, Đường D8, Khu Công Nghệ Cao, Phường Long Thạnh Mỹ, Thành phố Thủ Đức, Thành phố Hồ Chí Minh')
INSERT [dbo].[DiachiKho] ([Madt], [Tenkho], [Diachi]) VALUES (5, N'KHO P&G', N'KCN Đồng An, Xã Bình Hòa, Thành phố Thuận An, T.Bình Dương')
INSERT [dbo].[DiachiKho] ([Madt], [Tenkho], [Diachi]) VALUES (6, N'KHO GLOMED', N'Số 29 Đại Lộ Tự Do, KCN Việt Nam - Singapore, Phường An Phú, Thành phố Thuận An, Tỉnh Bình Dương, Việt Nam')
SET IDENTITY_INSERT [dbo].[DiachiKho] OFF
GO
SET IDENTITY_INSERT [dbo].[Duan] ON 

INSERT [dbo].[Duan] ([Stt], [MaDuAn], [TenDuAn], [DateStart], [DateEnd], [NguoiQuanLy], [NguoiGiamSat], [NguoiThucHien], [TienDo], [MoTa], [Upload]) VALUES (14, N'DA123', N'DA123', N'2022-11-16', N'2022-11-17', N'Lê Văn Hải', N'Trần Thanh Vũ', N'Lương Ngọc Đệ', N'0%', N'TBE', N'../FileUp/2.jpg')
INSERT [dbo].[Duan] ([Stt], [MaDuAn], [TenDuAn], [DateStart], [DateEnd], [NguoiQuanLy], [NguoiGiamSat], [NguoiThucHien], [TienDo], [MoTa], [Upload]) VALUES (15, N'DA1234', N'DA123', N'2022-11-24', N'2022-11-24', N'Lê Thành Nghĩa', N'Lê Thành Nghĩa', N'TBE', N'0%', N'TBE', N'../FileUp/2.jpg')
INSERT [dbo].[Duan] ([Stt], [MaDuAn], [TenDuAn], [DateStart], [DateEnd], [NguoiQuanLy], [NguoiGiamSat], [NguoiThucHien], [TienDo], [MoTa], [Upload]) VALUES (16, N'DA456', N'DA456', N'2022-12-05', N'2022-12-06', N'Cao Thị Phấn', N'Cao Thị Phấn', N'Cao Thị Phấn', N'0%', N'TBE', N'../FileUp/2.jpg')
SET IDENTITY_INSERT [dbo].[Duan] OFF
GO
SET IDENTITY_INSERT [dbo].[KiemKe] ON 

INSERT [dbo].[KiemKe] ([Stt], [Mahoadon], [Tencongty], [TenKho], [Date], [Soluong], [Diachicongty], [DiachiKho], [Nguoikiemke], [Lydokiem], [MaSP], [MaRFID], [tensp], [donvi]) VALUES (8, N'KK002', N'CÔNG TY TNHH THƯƠNG MẠI VÀ KỸ THUẬT THÁI BÌNH', N'Kho Quận 9', N'2021-04-28T13:08:56', 1, N'205/14, Đường Linh Trung, KP1, P.Linh Trung, TP.Thủ Đức, TP.HCM', N'Lô I-8-2, Đường D8, Khu Công Nghệ Cao, Phường Long Thạnh Mỹ, Thành phố Thủ Đức, Thành phố Hồ Chí Minh', N'Lê Thành Nghĩa', N'Kiểm Định Kỳ', N'SP0017', N'000000001620202101150243', N'Máy khoan Makita DS5000', N'Cái')
INSERT [dbo].[KiemKe] ([Stt], [Mahoadon], [Tencongty], [TenKho], [Date], [Soluong], [Diachicongty], [DiachiKho], [Nguoikiemke], [Lydokiem], [MaSP], [MaRFID], [tensp], [donvi]) VALUES (10, N'KK003', N'CÔNG TY CỔ PHẦN CÔNG NGHỆ MEKONG', N'Kho Quận 9', N'2021-04-28T13:16:31', 1, N'205/14, Đường Linh Trung, KP1, P.Linh Trung, TP.Thủ Đức, TP.HCM', N'Lô I-8-2, Đường D8, Khu Công Nghệ Cao, Phường Long Thạnh Mỹ, Thành phố Thủ Đức, Thành phố Hồ Chí Minh', N'Lê Thành Nghĩa', N'Kiểm Định Kỳ', N'SP0017', N'000000001620202101150243', N'Máy khoan Makita DS5000', N'Cái')
SET IDENTITY_INSERT [dbo].[KiemKe] OFF
GO
SET IDENTITY_INSERT [dbo].[Luanchuyen] ON 

SET IDENTITY_INSERT [dbo].[Luanchuyen] OFF
GO
INSERT [dbo].[Nguoivanchuyen] ([Mauser], [Tenuser], [Roles]) VALUES (N'AD01', N'Vui Lòng Chọn', N'giaonhan')
INSERT [dbo].[Nguoivanchuyen] ([Mauser], [Tenuser], [Roles]) VALUES (N'Ad07', N'Nguyễn Xuân Khôi', N'thukhodaphuoc')
INSERT [dbo].[Nguoivanchuyen] ([Mauser], [Tenuser], [Roles]) VALUES (N'AD11', N'Trần Thanh Vũ', N'thukhosc')
GO
INSERT [dbo].[NhaSanXuat] ([MaSX], [TenSX], [DiaChi], [DT], [Email]) VALUES (N'chom', N'LG', N'Lô CN2, KCN Tràng Duệ, xã Lê Lợi, huyện An Dương, thành phố Hải Phòng, Việt Nam.', N'024 3934 5151', N'lgorder.online@lgepartner.com')
INSERT [dbo].[NhaSanXuat] ([MaSX], [TenSX], [DiaChi], [DT], [Email]) VALUES (N'SX02', N'Samsung', N'Số 2, đường Hải Triều, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh', N'84-2839157310', N'samsung@gmail.com')
INSERT [dbo].[NhaSanXuat] ([MaSX], [TenSX], [DiaChi], [DT], [Email]) VALUES (N'SX03', N'Schneider', N'Rueil-Malmaison, Pháp', N'0909999999', N'salw@Schneider.com')
GO
SET IDENTITY_INSERT [dbo].[Phieuycvt] ON 

SET IDENTITY_INSERT [dbo].[Phieuycvt] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhamTBE] ON 

INSERT [dbo].[SanPhamTBE] ([STT], [MaSP], [MaSX], [MaRFID], [MaModel], [TenSP], [NgayNhap], [SLTon], [DonGia], [QRcode], [Diachi], [GhiChu], [trangthai]) VALUES (2459, N'0020394', N'we345', N'123456', N'we345', N'Mũi khoan sắt inox HSS-G M2 7.0mm', CAST(N'1991-05-25T00:00:00.000' AS DateTime), 1, N'Mũi', N'0020394', N'CÔNG CỤ DỤNG CỤ MEKONG', N'ok', N'action')
INSERT [dbo].[SanPhamTBE] ([STT], [MaSP], [MaSX], [MaRFID], [MaModel], [TenSP], [NgayNhap], [SLTon], [DonGia], [QRcode], [Diachi], [GhiChu], [trangthai]) VALUES (2460, N'0020395', N'n/a', N'chuaxacdinh', N'n/a', N'Mũi khoan sắt inox HSS-G M2 6.5mm', CAST(N'1991-05-26T00:00:00.000' AS DateTime), 1, N'Mũi', N'0020395', N'CÔNG CỤ DỤNG CỤ MEKONG', N'ok', N'action')
INSERT [dbo].[SanPhamTBE] ([STT], [MaSP], [MaSX], [MaRFID], [MaModel], [TenSP], [NgayNhap], [SLTon], [DonGia], [QRcode], [Diachi], [GhiChu], [trangthai]) VALUES (2461, N'0020414', N'n/a', N'chuaxacdinh', N'n/a', N'Lưỡi cưa lọng cắt inox', CAST(N'1991-05-27T00:00:00.000' AS DateTime), 1, N'Lưỡi', N'0020414', N'CÔNG CỤ DỤNG CỤ MEKONG', N'ok', N'action')
GO
SET IDENTITY_INSERT [dbo].[SanPhamTBE] OFF
GO
SET IDENTITY_INSERT [dbo].[Userduyetdon] ON 

INSERT [dbo].[Userduyetdon] ([STT], [Mauser], [Tenuser], [Roles]) VALUES (4067, N'Ad09', N'Phạm Xuân Quốc', N'giamdoc')
INSERT [dbo].[Userduyetdon] ([STT], [Mauser], [Tenuser], [Roles]) VALUES (4075, N'AD10', N'Lê Văn Hải', N'tpda')
INSERT [dbo].[Userduyetdon] ([STT], [Mauser], [Tenuser], [Roles]) VALUES (4076, N'Ad08', N'Huỳnh Thị Ngọc Hạnh', N'tpkehoach')
SET IDENTITY_INSERT [dbo].[Userduyetdon] OFF
GO
SET IDENTITY_INSERT [dbo].[vattuyeucau] ON 

INSERT [dbo].[vattuyeucau] ([STT], [Mahoadon], [Masp], [Tensp], [Hangsanxuat], [Donvi], [Soluong], [Ghichu], [Serial], [Diachi]) VALUES (11886, N'YCVT08082023-G9C25', N'CCDC471', N'Dao rọc vỏ cáp quang MK02', N'n/a', N'Cái', 10, N'ok', N'n/a', N'CÔNG CỤ DỤNG CỤ MEKONG')
INSERT [dbo].[vattuyeucau] ([STT], [Mahoadon], [Masp], [Tensp], [Hangsanxuat], [Donvi], [Soluong], [Ghichu], [Serial], [Diachi]) VALUES (11887, N'YCVT08082023-G9C25', N'2200178', N'Ống cao su lưu hóa (60mmID x 32mmTK x 183cm), Superlon, bọc cách nhiệt', N'n/a', N'Ống', 12, N'ok', N'n/a', N'HÀNG HÓA Q9')
INSERT [dbo].[vattuyeucau] ([STT], [Mahoadon], [Masp], [Tensp], [Hangsanxuat], [Donvi], [Soluong], [Ghichu], [Serial], [Diachi]) VALUES (11888, N'YCVT08082023-G9C25', N'CCDC 134', N'Máy bộ đàm cầm tay Kenwood TK-P701 (gồm 1 thân máy, 1 pin, 1 anten, 1 đế sạc0 B7A10456-457-458-459', N'n/a', N'Bộ', 14, N'ok', N'n/a', N'HÀNG HÓA VĂN PHÒNG')
SET IDENTITY_INSERT [dbo].[vattuyeucau] OFF
GO
/****** Object:  StoredProcedure [dbo].[CAU1]    Script Date: 8/19/2024 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAU1] (@n int)
AS
	DECLARE @i INT
	DECLARE @kq int
	SET @kq=0
	SET @i=0
	WHILE(@i<=@n)
		BEGIN
			SET @kq=@kq+@i
			SET @i=@i+1
		END
	RETURN @kq
GO
/****** Object:  StoredProcedure [dbo].[doanhthu]    Script Date: 8/19/2024 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[doanhthu] (@from date, @to date)
as
select sum(ThanhTien) from (select ChiTietHoaDonBan.MaHDBan, SUM(SLBan*GiaBan) as ThanhTien from HoaDonBan join ChiTietHoaDonBan 
on HoaDonBan.MaHDBan=ChiTietHoaDonBan.MaHDBan
where NgayBan between @from and @to
group by ChiTietHoaDonBan.MaHDBan) as a
GO
/****** Object:  StoredProcedure [dbo].[spTB_DangNhap_KiemTraDangNhap]    Script Date: 8/19/2024 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spTB_DangNhap_KiemTraDangNhap]
@TenDangNhap nvarchar(50), 
@MatKhau nvarchar(150)
AS
BEGIN
 DECLARE @OutPut int
 DECLARE @KiemTraTenDangNhap int
 DECLARE @KiemTraMatKhau int
 DECLARE @TrangThai int 
 SELECT @KiemTraTenDangNhap=isnull(Count(tdn.TenDangNhap),0) 
  FROM TB_DangNhap tdn 
  WHERE tdn.TenDangNhap=@TenDangNhap
 SELECT @TrangThai =isnull(tdn.TrangThai ,0)
  FROM TB_DangNhap tdn 
  WHERE tdn.TenDangNhap=@TenDangNhap
 IF @KiemTraTenDangNhap=0 
  SET @OutPut=1 -- Sai TenDangNhap
 ELSE
 BEGIN
  SELECT @KiemTraMatKhau =isnull(count(*),0) 
   FROM TB_DangNhap tdn 
  WHERE tdn.TenDangNhap=@TenDangNhap 
   AND tdn.MatKhau=@MatKhau
  IF @KiemTraMatKhau=0
   SET @OutPut=2 -- Sai mật khẩu
  ELSE
   BEGIN
      IF @TrangThai=0
    SET @OutPut=4 -- Phải đổi mật khẩu
      ELSE
    BEGIN
       IF @TrangThai=2
    -- TenDangNhap đang bị khóa 
       SET @OutPut=3 
       ELSE
     SET @OutPut=0
    END
   END
 END
 SELECT @OutPut AS KetQua
END 
GO
